html, body {
    height: 100%;
    position: relative;
}

main {
    margin-left: 250px;
    height: 100%;
}
.main-window {
    height: 100%;
}

.main-window-header {
    height: 100px;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding:0;
    height: 100%;
    width: 250px;
    overflow: auto;
}
aside::-webkit-scrollbar {
    width: 6px;
}

aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

aside::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

aside:hover {
    z-index: 99999999;
    width: auto;
    background-color: transparent;
}

#history td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    background-color: #f5f5f5;
}

#history td:hover {
    background-color: #e6ffea;
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
    max-width: none;
}
#output {
    height: calc(100% - 100px);
    overflow: auto;
}

pre {
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 4px;
    background: #41444e;
    overflow-wrap: break-word;
    font-family: Source Code Pro,monospace;
    font-weight: 600;
    color: #fff;
}
/*Table */
/*Start*/
/* Syntax highlighting for JSON objects */
ul.json-dict, ol.json-array {
    list-style-type: none;
    margin: 0 0 0 1px;
    border-left: 1px dotted #ccc;
    padding-left: 2em;
}
.json-string {
    color: #0B7500;
}
.json-literal {
    color: #1A01CC;
    font-weight: bold;
}

/* Toggle button */
a.json-toggle {
    position: relative;
    color: inherit;
    text-decoration: none;
}
a.json-toggle:focus {
    outline: none;
}
a.json-toggle:before {
    color: #aaa;
    content: "\25BC"; /* down arrow */
    position: absolute;
    display: inline-block;
    width: 1em;
    left: -1em;
}
a.json-toggle.collapsed:before {
    content: "\25B6"; /* left arrow */
}

/* Collapsable placeholder links */
a.json-placeholder {
    color: #aaa;
    padding: 0 1em;
    text-decoration: none;
}
a.json-placeholder:hover {
    text-decoration: underline;
}
/*End*/